<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/pricing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <title>Design Toolbox - Pricing</title>
</head>
<body>

    <!-- Navigation bar -->
    <div class="navbar">
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="/static/resources/logo.png" alt="Logo" width="120" height="70" >
            </a>
        </div>
        <div class="backdrop"></div>
        <div class="menu">
            <a href="{{ url_for('pricing') }}">Pricing</a>
            <a class="login" id="login_btn">Sign in</a> 
        </div>
    </div>

    <!-- Hero Section: Tagline & Search Bar -->
    <div class="hero">
        <h1 class="hero-title">Ready to start with <br> design?</h1>
        <p class="hero-subtitle">Choose the package that suits you.</p>
    </div>

    <!-- Pricing section -->
    <div class="pricing-section">
        <div class="row">
            <!-- Free Tier -->
            <div class="col-xs-12 col-lg-4">
                <div class="card free-tier">
                    <div class="card-header">
                        <h3 class="price"><span class="currency">$</span>0<span class="period">/month</span></h3>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Free Plan</h4>
                        <ul class="list-group">
                            <li class="list-group-item">✔️ Unlimited analyses</li>
                            <li class="list-group-item">✔️ Download mood boards</li>
                            <li class="list-group-item">✔️ Save upto 20 designs</li>
                            <li class="list-group-item">✔️ Basic color and font extraction</li>

                        </ul>
                        <a class="btn btn-gradient mt-2" id="login_btn2">Create a free account</a>
                    </div>
                </div>
            </div>

            <!-- Paid Tier -->
            <div class="col-xs-12 col-lg-4">
                <div class="card premium-tier">
                    <div class="card-header">
                        <h3 class="price"><span class="currency">$</span>15<span class="period">/month</span></h3>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Premium Plan</h4>
                        <ul class="list-group">
                            <li class="list-group-item">✔️ All Free Plan Features</li>
                            <li class="list-group-item">✔️ Save unlimited designs</li>
                            <li class="list-group-item">✔️ Collaborative mood boards</li>
                            <li class="list-group-item">✔️ Enhanced customization options</li>
                            <li class="list-group-item">✔️ Priority customer support</li>
                        </ul>
                        <a class="btn btn-gradient mt-2" id="login_btn3">Choose Premium</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Faq Section -->
        <div class="faq-section">
            <div class="cta-section">
                <h2>Frequently Asked Questions</h2>
            </div>
            <div class="faq-item">
                <div class="faq-question" onclick="toggleFAQ(this)">
                    <h4>What is the purpose of this tool?</h4>
                    <span class="arrow">+</span>
                </div>
                <div class="faq-answer">
                    <p>This tool analyzes any given website and generates mood boards based on the fonts, colors, and components used in the site.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" onclick="toggleFAQ(this)">
                    <h4>How many design boards I can save with free tier?</h4>
                    <span class="arrow">+</span>
                </div>
                <div class="faq-answer">
                    <p>The free tier allows users to create mood boards for up to 10 websites and download them.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" onclick="toggleFAQ(this)">
                    <h4>How can I collaborate with others?</h4>
                    <span class="arrow">+</span>
                </div>
                <div class="faq-answer">
                    <p>Collaboration features are available in the premium tier, allowing users to share mood boards with others for editing and feedback.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" onclick="toggleFAQ(this)">
                    <h4>Can I easily cancel the trial?</h4>
                    <span class="arrow">+</span>
                </div>
                <div class="faq-answer">
                    <p>Yes, cancelling the trial is simple! You can cancel your trial with just a click of a button in your account settings.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" onclick="toggleFAQ(this)">
                    <h4>Will my membership work on any device?</h4>
                    <span class="arrow">+</span>
                </div>
                <div class="faq-answer">
                    <p>Absolutely! Once you subscribe, you can access your account from anywhere, on any device, and in any country.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" onclick="toggleFAQ(this)">
                    <h4>Is my payment information safe?</h4>
                    <span class="arrow">+</span>
                </div>
                <div class="faq-answer">
                    <p>Yes, your payment information is secure. We partner with Stripe, one of the leading tech companies in safety and reliability. We do not store any of your payment information ourselves.</p>
                </div>
            </div>
        </div>

    <!-- Login Modal -->
    <div id="customlogin" class="loginmodal">
        <div class="loginmodal-content">
            <button id="loginmodalclose" class="close-button">&times;</button>
            <h2 class="left-align">Sign in for free</h2>
            <p class="left-align" style = 'font-size: 1em;'>Save your favorite designs to a personal design book by signing in:</p>
            
            <!-- Authentication Buttons -->
            <div class="button-container">
                <a href="{{ url_for('google.login') }}" id="googleSignIn" class="social-button">
                    <img src="static/resources/Google__G__logo.svg" alt="Google Logo" width="20" height="20">
                    <strong>Continue with Google</strong>
                </a>
                <a href="#" id="appleSignIn" class="social-button"> 
                    <img src="static/resources/apple-logo-transparent.png" alt="Apple Logo" width="20" height="20">
                    <strong>Continue with Apple</strong>
                </a>
                <a href="#" id="githubSignIn" class="social-button">
                    <img src="static/resources/github-mark.png" alt="GitHub Logo" width="20" height="20">
                    <strong>Continue with GitHub</strong>
                </a>
            </div>

            <p class="center-align terms-text">By signing in, you agree to our <br>Privacy Policy and Terms of Use.</p>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="footer-content">
            <p>Built with ♥ by Srijan on Gadigal land.</p>
        </div>
        <div class="footer-links">
            <a href="mailto:srijanchaudhary2003@gmail.com" class="footer-link">Support</a>
            <a href="{{ url_for('pricing') }}" class="footer-link">Premium</a>
            <a href="#" class="footer-link">Term of use</a>
        </div>
    </div>

    <script src="/static/pricing.js"></script>
</body>
</html>
